.library {
	position: fixed;
	top: 0;
	left: 0;
	width: 20rem;
	height: 100%;
	background: white;
	box-shadow: 2px 2px 50px rgb(204, 204, 204);
	overflow: scroll;
	transform: translateX(-100%);
	transition: all 0.5s ease;
	opacity: 0;
	h2 {
		padding: 2rem;
	}
} 

.library-song {
	display: flex;
	align-items: center;
	padding: 1rem 2rem 1rem 2rem;
	cursor: pointer;
	img {
		border-radius: 5px;
		width: 30%; 
	}
	&:hover {
		background: rgb(218, 243, 252);
	}
}

.song-description {
	padding-left: 1rem;
	h3 {
		font-size: 1.4rem;
	}
	h4 {
		font-size: 1rem;
	}

}

* {
	scrollbar-width: thin;
	scrollbar-color: rgba(155, 155, 155, 0.4) transparent;
}

::-webkit-scrollbar {
    width: 5px;
    background: rgba(155, 155, 155, 0.5) transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(155, 155, 155, 0.4) ;
    border-radius: 20px;
}

::-webkit-scrollbar-corner {
	display: none;
    background: transparent;
}
::-webkit-scrollbar:horizontal {
	display: none;
}

.selected {
	background: rgb(195, 238, 255);
}

.active-library {
	transform: translateX(0%);
	opacity: 1;
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}