.nav {
	margin: 0 auto;
	max-width: 700px;
	display: flex;
	justify-content: space-between;
	min-height: 10vh;
	align-items: center;
	div {
		background: transparent;
		cursor: pointer;
		transition: all 0.3s ease;
		padding: 0.2rem;
		border-radius: 50%;
		align-items: center;
		&:hover img {
			cursor: pointer;
		}
	}
	div img {
		margin-top: 0.5rem;
		height: 2rem;
		width: 2.3rem;
		filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(87deg) brightness(119%) contrast(119%);
	}

	h1 {
			font-family: 'Suez One', serif;
			cursor: default;
		}
}

.nav-btn {
	background: #222222;
	color: white;
}

@media screen and (max-width: 768px) {
  nav {
	h1 {
		margin-left: 20px;
	}
    button {
		margin-right: 20px;
      z-index: 10;
    }
  }
}